body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333333;
}

.container {
    width: 90%;
    margin: auto;
}

/* ===== HEADER ===== */
header {
    background: #222;
    color: white;
    padding: 15px 0;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-name,.logo-name:hover{
    color: #eb7c26;
}

.input-group input:focus {
    box-shadow: none;
    border-color: white;
}

.btn-search{
    color: #eb7c26;
    background-color: white;
    border: none;
}

.btn-search:hover,.btn-search:active{
    color: #f15c22 !important;
    background-color: white !important;
    border: none;
}

.search-name,.hotline{
    color:#eb7c26;
}

.search-name{
    max-width: 300px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}

/* tablet */
@media (min-width: 768px){
    .search-name{
        max-width: 450px;
    }
}

/* desktop */
@media (min-width: 1200px){
    .search-name{
        max-width: 800px;
    }
}

.nav-link:hover{
    color: white;
}

/* ===== INDEX ===== */
.product-name {
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 44.8px;
    line-height: 1.4;
    text-decoration: none;
    color: #333;
}

.product-name:hover {
    color: #0d6efd;
    text-decoration: underline;
}

.product-price{
    color: #eb7c26;
}

.author-name{
    color: #1d9d74;
    font-size: 12px;
    margin: 5px 0;
}

/* ===== PRODUCTS ===== */
.active-category,.active-price{
    background-color: #eb7c26;
    color: white;
}

.active-category:hover,.active-price:hover{
    background-color: #eb7c26;
    color: white;
}

.pagination .page-item.active .page-link {
    background-color: #eb7c26;
    border-color: #eb7c26;
    color: white;
}

.pagination .page-link {
    color: #333;
    font-size: 12px;
}

.pagination .page-link:hover {
    background-color: #f8f9fa;
}

.introduce-title{
    font-size: 18px;
    color: #333333;
}

.introduce-content{
    font-size: 14px;
    color: #333333;
    line-height: 2em;
}

/* ===== PRODUCT DETAIL ===== */

.product-image{
    max-height: 460px;
    object-fit: contain;
}

.title{
    font-size:28px;
}

.author{
    color:#eb7c26;
    font-weight:500;
}

.price{
    font-size:28px;
    color: #FE642E;
    font-weight:bold;
}

.status{
    font-size:15px;
}

.status-value{
    color: #FE642E;
}

.category{
    font-size:15px;
}

.category-name{
    color: #FE642E;
}

.quantity-box{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:20px;
}

.quantity{
    display:flex;
    border:1px solid #ddd;
}

.quantity input{
    width:50px;
    text-align:center;
    border:none;
    color: #FE642E;
}

.qty-btn{
    width:40px;
    border: none;
    background-color: #fff;
}

.qty-btn:active{
    background-color: #FE642E;
    color: #fff;
}

.product-buttons{
    display:flex;
    gap:20px;
    margin-bottom:20px;
}

.btn-add{
    border:1px solid #FE642E;
    background: #fff;
    color: #FE642E;
    padding:15px 30px;
}

.btn-add:hover{
    background-color: #FE642E;
    color: #fff;
}

.btn-buy{
    background:#FE642E;
    color: #fff;
    border:none;
    padding:15px 40px;
}

.btn-buy:hover{
    background-color: #da5221;
}

.hotline-detail span{
    color: #FE642E;
    font-weight:bold;
}

.product-extra{
    margin-top:20px;
}

.product-extra h5{
    font-weight:bold;
    margin-bottom:10px;
}


/* ===== FOOTER ===== */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}