body
{
    margin: 0;
    font-family: Arial;
    background: #f5f5f5;
}

.container
{
    width: 90%;
    margin: auto;
}

/* FORM LOGIN / REGISTER */

.auth-box
{
    max-width: 500px;
    margin: auto;
}

.auth-card
{
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.auth-title
{
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.auth-link
{
    text-align: center;
    margin-top: 15px;
}

.auth-link a
{
    text-decoration: none;
}

.auth-link a:hover
{
    text-decoration: underline;
}

/* FOOTER */

footer
{
    background: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

.auth-box
{
    max-width:500px;
    margin: 50px auto;
}

.login-bg{
    background-image: url('Best-Manga-of-All-Time.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.register-bg{
    background-image: url('jw-5d1b565a3d9964.76324660.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}